#submit-bar{
    padding-top: var(--secondary-padding)
}

.fa-paper-plane{
    font-size: 25px;
    color: var(--primary-color)
}

#message-input{
    width: 35vw;
    min-width: 210px;
}



@media (prefers-reduced-motion: no-preference) {
    #message-input{
        min-width: 180px;
    }
  }
  
